@import "../Shared.scss";

.Main {
    margin-top: 10px;
    width: inherit;
    .ui.items {
        width: inherit;
        .item {
            display: inline-flex;
            .ui.smal.image {
                display: inline-block;
                margin-left: inherit;
                margin-right: inherit;
            }
            .description {
                padding: 0px 8px;
            }
        }
    }
}

//Semantic-ui has some strange style for mobile screens, these changes left align the image.
@media only screen and (max-width: 767px){
    .Main {
        .ui.items{
            width: inherit !important;
            .item{
                flex-direction: inherit !important;
                .ui.small.image {
                    display: inline-block;
                    margin-left: inherit;
                    margin-right: inherit;
                    img {
                        max-width: 200px !important;
                        height: auto !important;
                        max-height: 200px!important;
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}
