@import "../Shared.scss";

.Navigation {
    a:link, a:visited, a:active {
        text-decoration: none;
        color: $tableWhite !important;
        button {
            @include button-style;
            b {
                color: $tableWhite;
            }
        }
        button:not(:last-child) {
            border-right: none;
        }
        button:hover, button:active {
            background-color:  $primaryBackgroundColorHover; //Add a background color on hover
        }
    }
}
  
/* Clear floats (clearfix hack) */
.Navigation:after {
    content: "";
    clear: both;
    display: table;
}