@import "../Shared.scss";

.Navigation {
    a:link, a:visited, a:active {
        text-decoration: none;
        color: white !important;
        button {
            background-color: $primaryBackgroundColor;
            border: 1px solid $primaryBackgroundColorHover;
            font-size: calc(10px + 2vmin);
            padding: 4px 8px;
            cursor: pointer;
            float: left;
            b {
                color: white;
            }
        }
        button:not(:last-child) {
            border-right: none;
        }
        button:hover, button:active {
            background-color:  $primaryBackgroundColorHover; //Add a background color on hover
        }
    }
}
  
/* Clear floats (clearfix hack) */
.Navigation:after {
    content: "";
    clear: both;
    display: table;
}