@import "../Shared.scss";

.Navigation {
    button {
        background-color: $primaryBackgroundColor;
        border: 1px solid $primaryBackgroundColorHover;
        font-size: calc(10px + 2vmin);
        color: white;
        padding: 10px 14px;
        cursor: pointer;
        float: left;
    }
    button:not(:last-child) {
        border-right: none;
    }
    button:hover {
        background-color:  $primaryBackgroundColorHover; //Add a background color on hover
    }
}
  
/* Clear floats (clearfix hack) */
.Navigation:after {
    content: "";
    clear: both;
    display: table;
}
