@import "../Shared.scss";

.Path {
    background-color: $primaryBackgroundColor;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 4px;
    b {
        text-align: left;
        padding-left: 10px;
    }
    text: {
        transform: uppercase;
    }
}
