//Created values that can be shared with the other stylesheets.

$primaryBackgroundColor: #3C948B;
$primaryBackgroundColorHover: #347f78;
$tableWhite: #ffffff;
$tableShade: #f1f1f1;

//Created a common style for buttons.
@mixin button-style {
    background-color: $primaryBackgroundColor;
    border: 1px solid $primaryBackgroundColorHover;
    font-size: calc(10px + 2vmin);
    padding: 2px 8px;
    cursor: pointer;
    float: left;
}

